<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap -->
    <link href="/fa/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      function toggleEye(id) {
        var $elem = $("#" + id);
        if ($elem.attr("type") == "password") {
          $elem.attr("type", "text");
          setTimeout(function() {
            $elem.attr("type", "password");
          }, 1000);
        }
        return false;
      }
    </script>
  </head>
  <body class="p-4">
    <h1>Llista de jugadors</h1>

    <div class="mb-4 text-right">
      {% include 'button_add.html' %}
    </div>
    
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Username</th>
          <th>Password</th>
          <th>Email</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
        <tr>
          <td>
            <a class="text-primary" href="player.php?action=view&id={{ player.id }}">
              <i class="fas fa-eye"></i>
            </a>
          </td>
          <td width="33%">
            {{ player.username }}
          </td>
          <td width="33%">
            <input type="password" style="border:none; background:transparent; width:120px !important;" id="pass{{player.id}}" disabled value="{{ player.password }}">
          <a class="text-black" href="#" onclick='toggleEye("pass{{player.id}}")'><i class="fas fa-eye"></i></a> 
            
          </td>
          <td width="33%">
            {{ player.email }}
          </td>
          <td>
            <a class="text-warning" href="player.php?action=edit&id={{ player.id }}">
              <i class="fas fa-edit"></i>
            </a>
          </td>
          <td>
            <a class="text-danger" href="player.php?action=delete&id={{ player.id }}">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>